<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="page">
    {% include background.html %}
    <div class="container" id="ctner">
      {% include header.html %}
      <div class="div_article" id="div_atcl">       
        <article id="main_atcl" itemscope itemtype="http://schema.org/BlogPosting">
          {{content}}
          {% include list_of_articles.html %}
        </article>
          {% if page.footer == true %}
          {% include footer.html %}
          {% endif %}
      </div>
    </div>
  </body>
</html>
